In [12]:
print(type('1'))

<class 'str'>

In [13]:
print(type('1234'))

<class 'str'>

In [6]:
print(type(25.6))

<class 'float'>

In [7]:
print(type(''))

<class 'str'>

In [8]:
a=b=c=500
print(a,b,c)

500 500 500

In [14]:
var=23
var= "now im sucks"
var= 'damn you mclane'
print(var)

damn you mclane

In [20]:
name= 'claudia'
age= 25
sex= 'active'

print(type('name'))
print(name, age, sex)

<class 'str'>
claudia 25 active

In [21]:
a=20 
b=30

print(a==b)

False